/* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* header */

.page-header{
  line-height: 65px;

  padding: 10px 15px;
}

.header-img{
  height: 65px;
  vertical-align: middle;
}

.page-title{
  display: inline-block;
  vertical-align: middle;
  
}

/* main */

main{
  background-color: grey;
  padding: 30px 0 10px 0;
}

.card{
  width: 1000px;
  max-width: 100%;
  background-color: white;
  border-radius: 1px;
  margin: 0 auto 0 auto;
}

.button{
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid currentColor;
}

.task-button{
  background-color: #2ba4dc;
  color: white;
  border: 1px solid #2ba4dc;
}

.section-button{
  background-color: white;
  color: grey;
  border: 1px solid currentColor;
}

.card-section{
  border-bottom: 1px solid grey;
  padding: 10px 50px 10px 50px;
}

/* list */

.todo-list{
  list-style-type: none;
}

.todo-state{
  border-radius: 50%;
  border: 1px solid currentColor;
}

.done{
  color: green;
}

.not-done{
  color: red;
}

/* colored categories */

.category{
  border-radius: 5px;
  font-size: .7rem;
  padding: 5px;
  color: white;
}

.editorial{
  background-color: lightskyblue;
}

.q1-goals{
  background-color: purple;
}

.recruiting{
  background-color: green;
}

.mobile{
  background-color: orange;
}

.website{
  background-color: pink;
}